{% extends "base.html" %}
{% block title %}Flask Task{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<h1>Welcome to Flask Test </h1>
{% for post in posts %}
<a href="#">
    <h2>{{ post['user'] }}</h2>
</a>
<span class="badge badge-primary">{{ post['phnno'] }}</span>

<span class="badge badge-primary">{{ post['id'] }}</span>
 <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
<hr>
{% endfor %}
{% endblock %}